# ============================================
# bin
# ============================================
export PATH="$HOME/bin:$PATH"

# ============================================
# volta
# ============================================
export VOLTA_HOME="$HOME/.volta"
export PATH="$VOLTA_HOME/bin:$PATH"

# ============================================
# GitHub Access Token
# ============================================
export GITHUB_TOKEN="ghp_xxx"
